<!DOCTYPE html>
<html>
<head>
	<title>Blog Django Girls</title>
</head>
<body>
<div>
<h1>Bem vindo ao Blog!!</h1>
<p>Adicionando algum conteúdo para a página não ficar vazia...</p>
<p>HELLLOWWWWW WORD DO CARALHO</p>
</div>

<!--Os posts são listas. É preciso percorrer a lista para exibi-los completamente-->

{% for post in posts %}
    <div>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}<br><br>published: {{ post.published_date }}</p>
    </div>
{% endfor %}

</body>
</html>